*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
}

input {
    background-color: transparent;
    border: none;
}

html {
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    outline: none;
}

/* get rid of number spin wheel */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
